* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 30vh auto;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  min-height: 400px;
  background-color: #f0f0f0f0;
  box-shadow: 0 0 7px 0 #ffffff92;
  border-radius: 30px;
}

.container h1 {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  place-items: center;
}

label {
  align-self: flex-start;
}

.book {
  background-color: #efff3b;
  max-height: 300px;
  padding: 10px;
  overflow-y: scroll;
}

li {
  display: flex;
  flex-direction: row;
  gap: 5px;
  list-style-type: none;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

input,
button {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 18px;
  align-self: flex-start;
  padding: 5px;
}

button:hover {
  color: #ff0000;
  cursor: pointer;
}

.checkbox {
  align-self: center;
}

textarea {
  height: 80px;
}
